@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --color-bg-body: theme(colors.zinc.50);
    --color-bg-card: theme(colors.zinc.100);
    // --interfaceBorderColor: theme(colors.slate.600),  
    --backdropColor: rgba(220, 220, 220, .5);
}


@media (prefers-color-scheme: dark) {
    :root {
        color: white;
        --color-bg-body: theme(colors.zinc.800);
        --color-bg-card: theme(colors.zinc.200 / 30%);
        //--color-bg-card: #212936;

        --backdropColor: rgba(0, 0, 0, .5);
    }

    input,
    select {
        @apply bg-slate-600;
    }
}

@layer utilities {
    .link {
        @apply text-blue-500 hover:text-blue-600 dark:text-blue-300 dark:hover:text-blue-400;    }

}

// @layer base {
//     body {
//         @apply bg-body;
//     }
// }