@import "chartist/dist/scss/chartist.scss";

.metrics {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    > * {
        flex: 1 1 auto;
    }


}
.metric {
    background: var(--cardBackgroundColor);
    border-radius: .5rem;
    padding: 1rem ;

    &.line-metric {
        padding-bottom: 0;
    }

    .partition-items li {
        margin: .25rem 0;
        font-size: .9rem;
    }

    height: 100%;

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }


    .metric-title {
        font-weight: 600;
        margin: 0 .5rem .5rem  0;
    }
}